
p.test1 {
    font-size: 12px
    white-space: nowrap; 
    width: 100px; 
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: clip;
}
a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #ffffff;
}

/* selected link */
a:active {
    color: #ffffff;
}