
 
#header {
    background-color:yellow;
    color:white;
    
    padding:5px;
}
#body {
    background-color:#0000A0;
    color:white;
    
    padding:3px;
}
#area {
    background-color:white;
  font-size: 30px;
    color: maroon;
    
    padding:10px;
}
h1 {
    font-size: 50px;
    color: maroon;
    margin-left: 310px;
} 
h2 {
    font-size: 30px;
    color: maroon;
    margin-left: 150px;
} 
h3
{
margin-left:100 px;
}
a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #ffffff;
}

/* selected link */
a:active {
    color: #ffffff;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:#0000A0;
    color:white;
    clear:both;
float:down;
    text-align:center;
    padding:5px; 
}
